<template name="cardsetInfoBoxItemBonusWorkingTimeStandardDeviation">
    {{#if this.learningActive}}
        <tr>
            <td>{{_ "learningHistory.stats.duration.workingTime.standardDeviation"}}:</td>
            <td>{{getBonusWorkingTimeStandardDeviation}}</td>
        </tr>
    {{/if}}
</template>
