<template name="filterIndexItemBottomBonusStats">
    {{#if this.learningActive}}
        {{#if isCardsetOwner this._id}}
            <a rel="noopener noreferrer"   class="resultNavigationElement bonusLeitnerProgress" data-id="{{this._id}}"
               title="{{_
                       "cardset.tooltip.displayBonusStats"}}">
                <span class="fas fa-clipboard-list" data-id="{{this._id}}"></span>
            </a>
        {{/if}}
    {{/if}}
    {{#if gotTranscriptBonus this._id}}
        {{#if isCardsetOwner this._id}}
            <a rel="noopener noreferrer"   class="resultNavigationElement bonusTranscriptProgress" data-id="{{this._id}}"
               title="{{_
                       "transcriptForm.bonus.form.button.list"}}">
                <span class="fas fa-clipboard" data-id="{{this._id}}"></span>
            </a>
        {{/if}}
    {{/if}}
</template>
